<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Annulation de votre rendez-vous de consultation -  Doctolib.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Bonjour <span th:text=" ${name} +  '  ' +${firstname} "/>,
</p>

<p>
    Nous vous informons que votre rendez-vous de consultation en date du <span th:text="${dateRdv}"/> a &eacute;t&eacute; annul&eacute;.
</p>

<p>
    Pour prendre un nouveau rendez-vous, merci de bien vouloir nous contatcer au 04 72 15 48 76.
</p>

<p>
    Nous vous remercions pour votre confiance.
</p>

<p>
    Cordialement, <br />
    <em>Doctolib</em>
</p>
</body>
</html>